*,
*::before,
*::after {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0;
}

html {
font-family: 'Inter', sans-serif;
color: #202336;
/* font-family: 'Mulish', sans-serif;
 */
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn {
  display: inline-block;
  padding: 14px 37px 12px 37px;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  color: #FB8F1D;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.header {
  height: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 35px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 41px;
  height: 41px;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 34px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  color: #B8BECD;
}

.is-active {
  color: #202336;
}

.btn-login {
  margin-right: 18px;
}

.btn-orange {
  background-color: #FB8F1D;
  color: #fff;
}


/* Intro */

.intro {
  margin-bottom: 286px;
}

.container-intro {
  position: relative;
}

.intro__img {
  position: absolute;
  width: 687px;
  height: 654px;
  right: -90px;
}

.intro__title {
  width: 30%;
  padding-top: 23px;
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  margin-bottom: 74px;
}

.form {
  width: 40%;
}


.form__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26.63px;
  margin-bottom: 71px;
}

.form__main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 47px;
}

.form__item {
  width: 46%;
}
.form__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.select {
  width: 100%;
  padding: 21px 31px 21px 31px;
  margin-bottom: 35px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
}


